{%extends "index.html" %}
{%block body %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary my-3 mx-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
    ADD New Event
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action = "data" method = "post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="work" class="form-label">WORK</label>
                  <input type="text" class="form-control" id="work"  name = "work" aria-describedby="emailHelp">
                  </div>
                <div class="mb-3">
                  <label for="workdes" class="form-label">Work Description</label>
                  <input type="text" class="form-control" id="workdes" name = "workdes">
                </div>
                <div class="mb-3">
                    <label for = "date" class="form-label">DATE</label>
                    <input  placeholder = "date/month/year" type="text" class="form-control" id="date" name = "date">
                  </div>
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
        
      </div>
    </div>
  </div>
  <br><br><br>
  <table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">S.NO</th>
        <th scope="col">WORK </th>
        <th scope="col">DESC.</th>
        <th scope="col">DATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody class="table-secondary">
       {% for event in allevent %}
        <tr >
        <th scope="row">{{event.id}}</th>
        <td>{{event.work}}</td>
        <td>{{event.workdes}}</td>
        <td>{{event.date}}</td>
        <td> <a href="/{{event.id}}" > DELETE</a></td>
         
      </tr>
      {% endfor %}
      
      
    </tbody>
  </table>
{%endblock body%}