{%extends "index.html" %}
{%block body%}
<p class = "my-2"> <b> YOUR SEARCH RESULTS : </b></p> 
<br>
<table class="table">
    <thead>
      <tr class="table-primary">
        <th scope="col">S.NO</th>
        <th scope="col">WORK </th>
        <th scope="col">DESC.</th>
        <th scope="col">DATE</th>
        <th scope="col">DELETE</th>
        <th scope="col">EDIT</th>
      </tr>
    </thead>
    <tbody class="table-secondary">
       {% for event in data %}
        <tr >
        <th scope="row">{{forloop.counter}}</th>
        <td>{{event.work}}</td>
        <td>{{event.workdes}}</td>
        <td>{{event.date}}</td>
        <td> <a href=" remove/{{event.id}}" > <button type="button" class="btn btn-primary my-3 mx-3"> delete </button> </td>
        <td> <button type="button" class="btn btn-primary my-3 mx-3" data-bs-toggle="modal" data-bs-target="#editModal{{event.id}}">
          EDIT
        </button></td>
         
      </tr>
      <div class="modal fade" id="editModal{{event.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action = "edit/{{event.id}}" method = "POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="work" class="form-label" >WORK</label>
                      <input type="text" class="form-control" id="work"  value = "{{event.work}}" name = "work" aria-describedby="emailHelp">
                      </div>
                    <div class="mb-3">
                      <label for="workdes" class="form-label" >Work Description</label>
                      <input type="text" class="form-control"  value = "{{event.workdes}}"id="workdes" name = "workdes">
                    </div>
                    <div class="mb-3">
                        <label for = "date" class="form-label">DATE</label>
                        <input  placeholder = "date/month/year" type="text" class="form-control" value = "{{event.date}}" id="date" name = "date">
                      </div>
                   
                    <button type="submit" class="btn btn-primary"> UPDATE </button>
                  </form>
            </div>
            
          </div>
        </div>
      </div>
      {% endfor %}
      
      
    </tbody>
  </table>




{%endblock%}